name: CI

on:
  pull_request:          # Run CI check on Pull Requests
  push:
    branches: [ main ]   # Run CI check on main pushes
  workflow_dispatch:     # Run CI check on manual trigger

jobs:
  build-and-scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Make scripts executable
        run: chmod +x ./scripts/*.sh

      - name: Build
        run: ./scripts/build.sh

      - name: Test
        run: ./scripts/test.sh

      - name: Install SonarScanner
        run: dotnet tool install --global dotnet-sonarscanner

      - name: Add .NET global tools to PATH
        run: echo "$HOME/.dotnet/tools" >> $GITHUB_PATH

      - name: Sonar Scan
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: ./scripts/sast-sonar.sh
      
      - name: Install OWASP Dependency-Check CLI
        run: |
          wget https://github.com/jeremylong/DependencyCheck/releases/download/v8.5.1/dependency-check-8.5.1-release.zip
          unzip dependency-check-8.5.1-release.zip
          chmod +x dependency-check/bin/dependency-check.sh
          sudo mv dependency-check/bin/dependency-check.sh /usr/local/bin/dependency-check.sh

      - name: Dependency Check
        run: ./scripts/sca-dependency-check.sh

      - name: Local DAST Scan
        run: ./scripts/dast-zap.sh

      # Artifact uploads
      - name: Upload Test Coverage
        uses: actions/upload-artifact@v4
        with:
          name: test-coverage
          path: ADWebApplication.Tests/TestResults/**/coverage.cobertura.xml

      - name: Upload Dependency Check Report
        uses: actions/upload-artifact@v4
        with:
          name: dependency-check-report
          path: ./dependency-check-report

      - name: Upload ZAP DAST Report
        uses: actions/upload-artifact@v4
        with:
          name: zap-report
          path: ./zap-report
